@tailwind base;
@tailwind components;
@tailwind utilities;

.rbtn{

  color: black;
  font-size: 18px;
  text-align: left;
  display: block;
}
.rbtn:hover{
  
  color: white;
}
.box{
  width: 150px;

}
.line{
  border-bottom: 1px solid black;
 
}
.line:hover{
  background-color: black;
  color: white !important;
}

.imag{
  width: 50%;
  display: inline;
  height: auto;
}


@media (max-width: 768px) { 



  .imag{
    width: 100%;
  }


 }